<div class="card h-100" *ngIf="currentWeather">
    <div class="card-header">Aktuelle Werte <small>{{currentWeather.timeStamp | date:'shortTime'}}</small></div>
    <div class="card-body">
        <div class="clearfix">
            <h1 class="float-start me-5 mb-0">
                <img src="{{ 'assets/icons/openweathermap/' + currentWeather.icon + '.svg' }}" height="140" style="margin: -20px"> {{currentWeather.temperature | number: '1.0-0'}} °C
            </h1>
            <p class="card-text"><strong>{{currentWeather.description}}</strong><br>Gefühlt: {{currentWeather.feelsLike | number: '1.0-0'}} °C</p>
            <p class="card-text lead">{{currentWeather.summary }}</p>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <current-detail icon="wind-beaufort-{{weatherService.getBeaufort(currentWeather.windSpeed)}}" name="Wind ({{weatherService.getWindDirection(currentWeather.windDirection)}})" value="{{currentWeather.windSpeed*3.6 | number: '1.0-0'}} km/h">
                <img src="assets/icons/compass.svg" style="transform: rotate({{currentWeather.windDirection+180}}deg)" height="40" style="margin: -5px">
            </current-detail>
            <current-detail icon="humidity" name="Luftfeuchte" value="{{currentWeather.humidity}} %"/>
            <current-detail icon="barometer" name="Luftdruck" value="{{currentWeather.pressure}} hPa"/>
            <current-detail icon="thermometer" name="Taupunkt" value="{{currentWeather.dewPoint | number: '1.0-0'}} °C"/>
            <current-detail icon="cloudy" name="Bewölkung" value="{{currentWeather.clouds}} %"/>
            <current-detail icon="uv-index-{{currentWeather.uVIndex | number: '1.0-0' }}" name="UV-Index" value="{{currentWeather.uVIndex | number }}"/>
            <current-detail icon="mist" name="Sicht" value="{{currentWeather.visibility | number: '1.0-0'}} km"/>
        </div>
    </div>
</div>