<div class="card h-100" *ngIf="currentWeather">
    <div class="card-header">{{config.location}} <small>{{timeFmt.format(currentWeather.timeStamp)}}</small></div>
    <div class="card-body">
        <div class="clearfix">
            <h1 class="float-start me-5 mb-0">
                <img src="{{ 'assets/icons/openweathermap/' + currentWeather.icon + '.svg' }}" height="140" style="margin: -20px"> {{currentWeather.temperature | number: '1.0-0'}} °C
            </h1>
            <p class="card-text"><strong>{{currentWeather.description}}</strong><br>{{locale.feelsLike}}: {{currentWeather.feelsLike | number: '1.0-0'}} °C</p>
            <p class="card-text lead">{{currentWeather.summary}}</p>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <current-detail icon="wind-beaufort-{{weatherService.getBeaufort(currentWeather.windSpeed)}}" name="{{locale.wind}} ({{weatherService.getWindDirection(currentWeather.windDirection)}})" value="{{currentWeather.windSpeed*3.6 | number: '1.0-0'}} km/h" *ngIf="config.current.showWind">
                <img src="assets/icons/compass.svg" style="transform: rotate({{currentWeather.windDirection+180}}deg)" height="40" style="margin: -5px">
            </current-detail>
            <current-detail icon="barometer" name="{{locale.pressure}}" value="{{currentWeather.pressure}} hPa" *ngIf="config.current.showPressure"/>
            <current-detail icon="humidity" name="{{locale.humidity}}" value="{{currentWeather.humidity}} %" *ngIf="config.current.showHumidity"/>
            <current-detail icon="thermometer" name="{{locale.dewPoint}}" value="{{currentWeather.dewPoint | number: '1.0-0'}} °C" *ngIf="config.current.showDewPoint"/>
            <current-detail icon="cloudy" name="{{locale.clouds}}" value="{{currentWeather.clouds}} %" *ngIf="config.current.showClouds"/>
            <current-detail icon="uv-index-{{currentWeather.uVIndex | number: '1.0-0' }}" name="{{locale.uVIndex}}" value="{{nbrFmt.format(currentWeather.uVIndex)}}" *ngIf="config.current.showUVIndex"/>
            <current-detail icon="mist" name="{{locale.visibility}}" value="{{currentWeather.visibility | number: '1.0-0'}} km" *ngIf="config.current.showVisibility"/>
        </div>
    </div>
</div>