<div class="card h-100" *ngIf="currentWeather">
    <div class="card-header">Sonne/Mond <small>{{currentWeather.timeStamp | date:'d. MMM.'}}</small></div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex align-items-end">
            <app-icon icon="sunrise" [date]="currentWeather.sunrise"/>
            <div class="p-2 flex-grow-1 text-center">
                <div class="progress" role="progressbar">
                    <div class="progress-bar bg-warning" style="width: {{sunPerc}}%">{{sunLeft}}</div>
                </div>
                <small>{{getDateDiff(currentWeather.sunrise, currentWeather.sunset)}}</small>
            </div>
            <app-icon icon="sunset" [date]="currentWeather.sunset"/>
        </li>
        <li class="list-group-item d-flex align-items-end">
            <app-icon icon="moonrise" [date]="currentWeather.moonrise"/>
            <div class="p-2 flex-grow-1 text-center">
                <div class="progress" role="progressbar">
                    <div class="progress-bar bg-secondary" style="width: {{moonPerc}}%">{{moonLeft}}</div>
                </div>
                <small>{{currentWeather.moonset.getTime() > 0 ? getDateDiff(currentWeather.moonrise, currentWeather.moonset) : '&nbsp;'}}</small>
            </div>
            <app-icon icon="moonset" [date]="currentWeather.moonset"/>
        </li>
        <li class="list-group-item text-center">
            <img src="assets/moon-{{getMoonIcon(currentWeather.moonPhase)}}.svg" height="40">{{getMoonPhase(currentWeather.moonPhase)}}
        </li>
    </ul>
</div>