<div class="card h-100" *ngIf="currentWeather">
    <div class="card-header">{{locale.sunMoon}} <small>{{fmt.date(currentWeather.timeStamp)}}</small></div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex align-items-end">
            <app-icon icon="sunrise" [date]="currentWeather.sunrise"/>
            <div class="p-2 flex-grow-1 text-center">
                <div class="progress" role="progressbar">
                    <div class="progress-bar bg-warning" style="width: {{sunPerc}}%">{{sunLeft}}</div>
                </div>
                <small>{{getDuration(currentWeather.sunrise, currentWeather.sunset)}}</small>
            </div>
            <app-icon icon="sunset" [date]="currentWeather.sunset"/>
        </li>
        <li class="list-group-item d-flex align-items-end">
            <div *ngIf="currentWeather.moonrise.getTime() < currentWeather.moonset.getTime(); then moonriseIcon else moonsetIcon"></div>
            <div class="p-2 flex-grow-1 text-center">
                <div class="progress" role="progressbar">
                    <div class="progress-bar bg-secondary" style="width: {{moonPerc}}%">{{moonLeft}}</div>
                </div>
                <small>{{currentWeather.moonset.getTime() > 0 ? getDuration(currentWeather.moonrise, currentWeather.moonset) : '&nbsp;'}}</small>
            </div>
            <div *ngIf="currentWeather.moonrise.getTime() > currentWeather.moonset.getTime(); then moonriseIcon else moonsetIcon"></div>
        </li>
        <li class="list-group-item text-center">
            <img src="assets/icons/moon-{{weatherService.getMoonIcon(currentWeather.moonPhase)}}.svg" height="60" style="margin: -10px;"> {{weatherService.getMoonPhase(currentWeather.moonPhase)}}
        </li>
    </ul>
    <ng-template #moonriseIcon><app-icon icon="moonrise" [date]="currentWeather.moonrise"/></ng-template>
    <ng-template #moonsetIcon><app-icon icon="moonset" [date]="currentWeather.moonset"/></ng-template>
</div>